@import 'tailwindcss';


body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, Ubuntu, Segoe UI, 
    Roboto, Oxygen-Sans, Arial, Helvetica Neue, Droid Sans, Centarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}
